<!DOCTYPE html>
<html>
<head>
<title>Some sample mario stuff :-)</title>
<link href='/static/styles.background.css' rel='stylesheet' type='text/css'/>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' type='text/javascript'></script>
<script src='/static/jquery.mousewheel.js' type='text/javascript'></script>
<script src='/static/jquery.cookie.js' type='text/javascript'></script>
<script src='/static/background.js' type='text/javascript'></script>
</head>
<body>

<div id='background'>
<div class='level'>
<img class='text-1' src='/static/mario-text-1.png'/>
<img class='text-2' src='/static/mario-text-2.png'/>
<div class='mario-sprite'></div>

</div>
</div>
</body>
</html>
